@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding: 0;
	
}
nav {
	width:873px;
	text-align: center;
	
}

nav ul{
	margin: 0 10px;
	padding: 0 20px;
	list-style:none;
	
}

nav ul li{
	padding: 10px 20px;
	text-align:center;
	margin: 10px;
	text-align:center;
	display: inline-block;
}

nav ul li a{
	text-decoration:none;
}

nav ul li a:hover{
	color:#4084F4;
}
